{% extends "base.html" %}

{% block body_block %}

    <table>
        <tr>
            <th  style="padding:0 15px 0 15px;">Product</th>
            <th  style="padding:0 15px 0 15px;">Quantity</th>
            <th  style="padding:0 15px 0 15px;">Total Price</th>

        </tr>
        {% for item in cart %}
        <tr>
            <td style="padding:0 15px 0 15px;">{{ item.product.name }}</td>
            <td style="padding:0 15px 0 15px;">{{ item.quantity }}</td>
            <td style="padding:0 14px 0 15px;">{{ item.total_price }}</td>
            <td><form method="POST" action="/app/allproducts/remove/">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ item.object_id }}">
                <button type="submit">remove</button>
        </form>
            </td>
        </tr>
        {% endfor %}
    </table>


    <h5><a href="/app/allproducts">go back</a></h5>
{% endblock %}



